body {
  margin: 0;
  padding: 0;
  background-colour: pink;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

hl {
  font-size: 40px;
  color: black;
  text-align: center;
}
