body {
  margin: 0;
  padding: 0;
  background-color: #FF1493;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

hl {
  font-size: 15vw;
  color: black;
}

@media only screen and (max-width:600px) {
  hl {
    font-size: 30px;
  }
}

@font-face {
  font-family: 'BarbieFont';
  src: url('barbie.ttf')
  format('truetype');
}

body {
  font-family: 'barbieFont', sans-serif;
}
